.container-page {
    color: black;
    background-color: rgb(245, 230, 210, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: -5%;
    padding-top: 8%;
    padding-right: 5%;
    padding-left: 5%;
    font-size: large;
    font-weight: 500;
}

.project-box {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.scrollable-description {
    display: flex;
    flex-direction: column;
    height: 10vh;
    flex: 1;
    overflow-y: scroll;
}