.container-page {
    color: black;
    background-color: rgb(245, 230, 210, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: -5%;
    padding-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
}