.landing-page {
    margin-top: 20%;
    font-size: 12vh;
    color: whitesmoke;
    /* display: flex; */
    text-align: left;
}

.subtext-box {
    background-color: rgb(43, 98, 201);
}

.landing-page p {
    margin-top: -1.5vh;
    font-size: 5vh;
}