$primary-color: #444;
$secondary-color: pink;
$show-home-image: true;
$home-image: url("https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg");
$background-opacity: 0.9;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-image {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rbga($primary-color, $background-opacity);
            }
        }
    }
}